/* Estilos para la lista de servicios */
.servicios {
  margin-top: 40px;
}

.list-group {
  list-style: none;
  padding: 0;
}

.list-group-item {
  background-color: #004ca6;
  margin: 10px 0;
  border-radius: 15px;
  display: flex;
  min-height: 100px;
  transition: all 0.3s ease;
}

.list-group-item:hover {
  transform: translateX(5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.service-list-item.selected {
  background-color: #002f69;
  border-left: 4px solid #f37b31;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* Sombra sutil */
}

/* Transición suave para el hover y selección */
.service-list-item {
  transition: all 0.3s ease;
}

.contenido-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.header-servicio{
  font-size: 1.3rem;
  text-align: left;
  width: 100%;
}

.contenido-servicio{
  width: 100%;
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.info-servicio{
  flex: 2;
}

.button-servicio{
  flex: 1;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: 80%;
  border-left: 1px solid #fff;
  padding-left: 20px;
}

.selectServiceBtn{
 width: 100%;
}

.results-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9rem;
  margin: 0;
}